@media only screen and (max-width: 768px) {
  .dropdown {
    display: block !important;
  }
  .navbar {
    display: none !important;
  }

  .r-navitems {
    
    a,
    i:nth-child(3) {
      display: none !important;
    }
    input{
      position: absolute;
      top: 2rem;
      right: 1rem;
      width: 10rem !important;
    }
  }
}
